name: builder-simple build
on:
  workflow_dispatch:

env:
  DEBIAN_URL: https://snapshot.debian.org/archive/debian/20251003T082440Z/
  DEBIAN_SUITE: trixie
  IMAGE: ghcr.io/${{ github.repository_owner }}/builder-simple
  TAG: latest
  SOURCE: ${{ github.event.repository.html_url }}
  AUTHORS: ${{ github.repository_owner }}
  DESCRIPTION: ${{ vars.DESCRIPTION }}

jobs:
  build-push:
    name: Build & Push
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write  
    defaults:
      run:
        shell: bash
        
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Prep build environment
        run: |
          [[ -f builder/apt.conf ]]        
          export APT_CONFIG=builder/apt.conf
          export DEBIAN_FRONTEND=noninteractive

          echo "APT config:"
          sudo apt-config dump
          echo "-----"
        
          sudo apt-get update
          sudo apt-get satisfy \
            debian-archive-keyring \
            debootstrap \
            buildah \
            podman

      - name: Build container image
        run: |
          export DEBIAN_URL DEBIAN_SUITE IMAGE TAG SOURCE AUTHORS DESCRIPTION
          buildah unshare builder/build

      - name: Check if container runnable
        run: |
          source <(podman run --pull=never "$IMAGE:$TAG" cat /etc/os-release)
          [[ $ID == debian ]]
          [[ $VERSION_CODENAME == "$DEBIAN_SUITE" ]]
      - name: Login to Registry
        run: |
          buildah login ghcr.io \
            -u "${{ github.actor }}" \
            --authfile "$HOME/.docker/config.json" \
            --password-stdin <<< "${{ secrets.GITHUB_TOKEN }}"
  
      - name: Push
        run: |
          buildah push \
          --digestfile builder.sha256sum \
          "$IMAGE:$TAG"

      - name: Prep cosign
        uses: sigstore/cosign-installer@v4.0.0

      - name: Attest
        env:
          COSIGN_EXPERIMENTAL: "1"
        run: |
          DIGEST=$(cat builder.sha256sum)
          cosign attest \
            --tlog-upload=false \
            --type urn:custom:custom-build \
            --predicate builder/build.json \
            "${IMAGE}@${DIGEST}"

