name: Build builder
on:
  workflow_dispatch:

env:
  IMAGE: ghcr.io/${{ github.repository }}
  TAG: latest
  SOURCE: ${{ github.event.repository.html_url }}
  AUTHORS: ${{ vars.AUTHORS }}
  DESCRIPTION: ${{ vars.DESCRIPTION }}

jobs:
  build-push:
    name: Build & Push
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write  
    defaults:
      run:
        shell: bash
        
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Prep build env
        run: |
          export DEBIAN_FRONTEND=noninteractive
          sudo rm -vf /etc/apt/apt.conf.d/*
          sudo cp builder/apt.conf /etc/apt/apt.conf
          sudo apt-get update
          sudo apt-get satisfy \
            debian-archive-keyring \
            debootstrap \
            buildah \
            podman

      - name: Build container image
        run: |
          export IMAGE TAG SOURCE AUTHORS DESCRIPTION
          buildah unshare builder/build

      - name: Check if container runnable
        run: podman run --pull=never "$IMAGE:$TAG" cat /etc/os-release

      - name: Login to Registry
        run: |
          buildah login ghcr.io \
            -u "${{ github.actor }}" \
            --password-stdin <<< "${{ secrets.GITHUB_TOKEN }}"
  
      - name: Push
        run: |
          buildah push \
          --digestfile builder.sha256sum \
          "$IMAGE:$TAG" \
          "docker://$IMAGE:$TAG"

      - name: Prep cosign
        uses: sigstore/cosign-installer@v3.4.0

      - name: Attest
        env:
          COSIGN_EXPERIMENTAL: "1"
          COSIGN_PASSWORD: ${{ secrets.GITHUB_TOKEN }}
        run: |
          DIGEST=$(cat builder.sha256sum)
          cosign attest \
            --tlog-upload=false \
            --type urn:custom:custom-build \
            --predicate builder/build.json \
            "${IMAGE}@${DIGEST}"

