name: Publish buildah
on:
  workflow_dispatch:
  push:

env:
  IMAGE: ghcr.io/${{ github.repository }}
  TAG: latest
  SOURCE: ${{ github.event.repository.html_url }}
  AUTHORS: ${{ vars.AUTHORS }}
  DESCRIPTION: ${{ vars.DESCRIPTION }}

jobs:
  build-push:
    name: Build & Push
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Build container image
        run: |
          export DEBIAN_FRONTEND=noninteractive
          sudo apt-get -qq update
          sudo apt-get -qqo Dpkg::Use-Pty=0 satisfy \
            debian-archive-keyring debootstrap

          export IMAGE TAG SOURCE AUTHORS DESCRIPTION
          buildah unshare builder/build

      - name: Run check
        run: podman run --pull=never "$IMAGE:$TAG" cat /etc/os-release

      - name: Log in to Registry
        uses: redhat-actions/podman-login@v1.7
        with:
          username: ${{ github.actor }}
          password:  ${{ github.token }}
          registry: ghcr.io/${{ github.repository_owner }}

      - name: Push to Registry
        run: buildah push "$IMAGE:$TAG"
