name: Create builder container image
on:
  workflow_dispatch:

env:
  IMAGE: ghcr.io/${{ github.repository }}
  TAG: latest
  SOURCE: ${{ github.event.repository.html_url }}
  AUTHORS: ${{ vars.AUTHORS }}
  DESCRIPTION: ${{ vars.DESCRIPTION }}

jobs:
  build-push:
    name: Build & Push
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Prep build env
        run: |
          sudo rm -vf /etc/apt/apt.conf.d/*
          sudo cp builder/apt.conf /etc/apt/apt.conf.d/custom
          
          export DEBIAN_FRONTEND=noninteractive
          
          sudo apt-get update
          sudo apt-get satisfy \
            debian-archive-keyring \
            debootstrap \
            buildah \
            podman

      - name: Build container image
        run: |
          export IMAGE TAG SOURCE AUTHORS DESCRIPTION
          buildah unshare builder/build

      - name: Check if container runnable
        run: podman run --pull=never "$IMAGE:$TAG" uname -a

      - name: Push to Registry
        run: |
          buildah login ghcr.io \
            -u "${{ github.actor }}" \
            --password-stdin <<< "${{ secrets.GITHUB_TOKEN }}"

          buildah push "$IMAGE:$TAG"
