name: builder-simple build
on:
  workflow_dispatch:

env:
  DEBIAN_URL: https://snapshot.debian.org/archive/debian/20251003T082440Z/
  DEBIAN_SUITE: trixie
  IMAGE: ghcr.io/${{ github.repository_owner }}/builder-simple
  TAG: latest
  SOURCE: ${{ github.event.repository.html_url }}
  AUTHORS: ${{ github.repository_owner }}
  DESCRIPTION: ${{ vars.DESCRIPTION }}

jobs:

  build-push:

    name: Build & Push
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    defaults:
      run:
        shell: bash
        
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Prep build environment
        run: |
          export APT_CONFIG=$(realpath builder/apt.conf)
          export DEBIAN_FRONTEND=noninteractive

          sudo -E apt-get update
          sudo -E apt-get satisfy \
            debian-archive-keyring \
            debootstrap \
            buildah \
            podman

      - name: Container image build
        run: |
          export DEBIAN_URL DEBIAN_SUITE IMAGE TAG SOURCE AUTHORS DESCRIPTION
          buildah unshare builder/build

      - name: Image sanity check
        run: |
          source <(podman run --pull=never "$IMAGE:$TAG" cat /etc/os-release)
          [[ $ID == debian ]]
          [[ $VERSION_CODENAME == "$DEBIAN_SUITE" ]]
  
      - name: Login to Registry
        run: |
          buildah login ghcr.io \
            -u "${{ github.actor }}" \
            --password-stdin <<< "${{ secrets.GITHUB_TOKEN }}"
  
      - name: Push
        run: |
          buildah push \
            --digestfile image.sha256sum \
            "$IMAGE:$TAG"

      - name: Upload digest
        uses: actions/upload-artifact@v4
        with:
          name: predicate
          path: image.sha256sum

  sign:
  
    name: Sign
    runs-on: ubuntu-latest
    needs: build-push
    permissions:
      id-token: write
      packages: write
    defaults:
      run:
        shell: bash
      
    steps:
      - name: Download digest
        uses: actions/download-artifact@v4
        with:
          name: predicate

      - name: Prep cosign
        uses: sigstore/cosign-installer@v4.0.0


      - uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Attest
        env:
          COSIGN_EXPERIMENTAL: "1"
        run: |
        
          DIGEST=$(cat image.sha256sum)

          cat > predicate.json << EOF
          {
            "build_id": "1",
            "status": "ok"
          }
          EOF
          
          cosign sign \
            --tlog-upload=false \
            "${IMAGE}@${DIGEST}"

          ls -la


